<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='../styles/reset.css'>
    <link rel='stylesheet' href='../styles/style.css'>
    <title>Article News Evaluation with NLP</title>
  </head>
  <body>
    <header>
      <h1>
        Evaluate a text
      </h1>
      <form>
        <label for="anText">Enter your analyzed text</label>
        <textarea id="anText" name="analizedText" rows="4" cols="15">Right here</textarea>
      </form>
      <section id="answer">
      </section>
    </header>
    

  </body>
</html>