body{
  background-color: rgb(248, 244, 227);
  color: rgb(112, 38, 50);
  font-family: 'Cinzel', serif;
}

h1{
  margin-top: 0.7em;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 6em;
  text-align: center;
}

.form {
  border: 1px solid rgb(112, 38, 50);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  column-gap: 5%;
  grid-template-areas: 
   'tLab tArea'
   'butSub butSub';
  width: 40%;
  margin: 10em auto 0 auto;
}

#lab {
  outline: yellowgreen 1px solid;
  grid-area: tLab;
  text-align: center;
  margin-top: 2vh;
  font-size: 2em;
  font-family: 'Marcellus SC', serif;
}

#anText {
  grid-area: tArea;
  text-align: center;
  margin-top: 2vh;
  font-size: 2em;
  font-family: 'Marcellus SC', serif;
}

#send{
  grid-area: butSub;
  font-size: 1.7em;
  /* background-color: rgb(228, 142, 67); */
  background-color: rgb(1, 150, 140);
  color: rgb(247, 236, 181);
  /* font-family: 'Cairo', sans-serif; */
  /* font-family: 'Cinzel', serif; */
  font-family: 'Marcellus SC', serif;
  margin-top: 4vh;
  border: none;
  cursor: pointer;
  width: 30%;
  height: 4vh;
  justify-self: center;
  border-radius: 7px;
  text-align: center;
}  
