body{
  background-color: rgb(248, 244, 227);
  color: rgb(112, 38, 50);
  font-family: 'Cinzel', serif;
}

h1{
  margin-top: 0.7em;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 6em;
  text-align: center;
}

.form {
  border: 1px solid rgb(112, 38, 50);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  column-gap: 5%;
  grid-template-areas: 
   'tLab tArea'
   'butSub butSub';
  width: 40%;
  margin: 10em auto 0 auto;
}

#lab {
  /* outline: yellowgreen 1px solid; */
  grid-area: tLab;
  text-align: center;
  margin-top: 2vh;
  font-size: 2.7em;
  font-family: 'Megrim', cursive;
  font-weight: 800;
}

#anText {
  grid-area: tArea;
  text-align: center;
  margin-top: 2vh;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  color: gray;
  background-color: rgb(255, 255, 255);
}

#send{
  grid-area: butSub;
  font-size: 1.7em;
  /* background-color: rgb(228, 142, 67); */
  background-color: rgb(1, 150, 140);
  color: rgb(247, 236, 181);
  /* font-family: 'Cairo', sans-serif; */
  /* font-family: 'Cinzel', serif; */
  font-family: 'Megrim', cursive;
  font-weight: 700;
  margin-top: 4vh;
  border: none;
  cursor: pointer;
  width: 30%;
  height: 4vh;
  justify-self: center;
  border-radius: 7px;
  text-align: center;
}

.answer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  column-gap: 5%;
  grid-template-areas: 
   'lui lst la'
    'us sc ag';
  width: 40%;
  margin: 5em auto 0 auto;
}

#labelUsInput{
  grid-area: lui;
  color: rgb(207, 57, 82);
  font-family: 'Cinzel', serif;
  /* font-family: 'Baloo Bhai 2', cursive; */
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 2em;
}

#userSentence{
  grid-area: us;
  color: rgb(3, 124, 116);
  font-size: 1.3em;
  margin-top: 0.3em;
}

#labelScoreTag{
  grid-area: lst;
  color: rgb(207, 57, 82);
  font-family: 'Cinzel', serif;
  /* font-family: 'Baloo Bhai 2', cursive; */
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 2em;
}

#score{
  grid-area: sc;
  color: rgb(3, 124, 116);
  font-size: 1.3em;
  margin-top: 0.3em;
}

#labelAgreem{
  grid-area: la;
  color: rgb(207, 57, 82);
  font-family: 'Cinzel', serif;
  font-size: 2em;
}

#agreement{
  grid-area: ag;
  color: rgb(3, 124, 116);
  font-size: 1.3em;
  margin-top: 0.3em;
}

.legend{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  column-gap: 5%;
  grid-template-areas:
   'how how'
   'scor agre'
   'valu posibValu';
  width: 60%;
  margin: 5em auto 0 auto;
}

#howTo{
  grid-area: how;
  font-size: 2em;
  margin-bottom: 1em;
  justify-self: center;

}

#sco{
  grid-area: scor;
  font-size: 1.3em;
}

#agree{
  grid-area: agre;
  margin-bottom: 0.5em;
  font-size: 1.3em;
}

#values{
  grid-area: valu;
  margin-bottom: 0.5em;
  font-size: 1.1em;
}

#posibValues{
  grid-area: posibValu;
  margin-bottom: 0.5em;
  font-size: 1.1em;
}

footer {
  font-size: 1em;
  margin-top: 2.5em;
  font-family: 'Megrim', cursive;
}

/* css loader from https://dev.to/vaishnavme/displaying-loading-animation-on-fetch-api-calls-1e5m */
.display {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  animation: spin 1s infinite linear;
  visibility: visible;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  } 
  to {
      transform: rotate(360deg);
  }
}

#errorMsg{
  text-align: center;
  color:rgb(3, 124, 116);
  font-size: 1.5em;
}


/* złapać id loading i wystylizować wiadomość o błędzie. */